@import 'src/styles/variables.scss';

.search {
  @include evenlySpace();
  justify-items: start;
  justify-content: stretch;
  align-content: start;
}

.searchTitle {
  @include evenlySpace(1rem, row);
  align-items: center;
}
