@import 'src/styles/variables.scss';

.search {
  @include evenlySpace();
  justify-content: flex-start;
  align-content: flex-start;
}

.searchTitle {
  @include evenlySpace(1rem, row);
  align-items: center;
}
