@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: $color-grey-dark;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Raleway', 'Lato', sans-serif;
  background-color: $color-grey-light;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $default-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  // color: $color-grey-dark;
  color: darken($color-primary, 20);
  background: -webkit-linear-gradient(
    darken($color-primary, 30%),
    $color-primary
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: $color-grey-dark-2;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}

hr {
  border-top: 0.1rem solid $color-grey;
}

li {
  color: darken($color-primary, 20%);
}
