// COLORS
// ========================

// palette
// https://coolors.co/156064-00c49a-f8e16c-ffc2b4-fb8f67
$skobeloff: rgb(21, 96, 100);
$caribbean-green: rgb(0, 196, 154);
$naples-yellow: rgb(248, 225, 108);
$melon: rgb(255, 194, 180);
$coral: rgb(251, 143, 103);

// neutrals
$color-white: rgb(246, 246, 246);
$color-grey-light: rgb(238, 238, 238);
$color-grey: rgb(136, 136, 136);
$color-grey-dark: rgb(85, 85, 85);
$color-black: rgb(17, 17, 17);

// palette
$color-primary: $caribbean-green;
$color-secondary: $naples-yellow;
$color-tertiary: $coral;

$color-edit: $color-secondary;
$color-warning: $color-secondary;
$color-notice: $color-secondary;

$color-delete: $color-tertiary;
$color-error: $color-tertiary;
$color-cta: $color-tertiary;

// FONT
// ========================
$default-font-size: 1.4rem;

// LAYOUT
// ========================
$header-height: 10rem;
$footer-height: 10rem;
$main-height: calc(100vh - 10rem);
$landing-height: calc(100vh - 10rem);
$max-content-width: 60rem;

@mixin evenlySpace($gutter: 1rem, $direction: column) {
  // display: flex;
  // flex-direction: $direction;
  // gap: $gutter;

  display: grid;
  grid-gap: $gutter;
  @if $direction == row {
    grid-auto-flow: column;
  }
  @if $direction == column {
    grid-auto-flow: row;
  }
}
