.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.star {
  font-size: 3rem;
  color: darkgoldenrod;
}

.new {
  color: #ccc;
}

.crescent {
  position: relative;

  .star {
    color: #ccc;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    color: darkgoldenrod;
    width: 30%;
    overflow: hidden;
  }
}

.half {
  position: relative;

  .star {
    color: #ccc;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    color: darkgoldenrod;
    width: 50%;
    overflow: hidden;
  }
}

.gibbous {
  position: relative;

  .star {
    color: #ccc;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    color: darkgoldenrod;
    width: 70%;
    overflow: hidden;
  }
}
