@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $default-font-size;
}

* {
  box-sizing: border-box;
  margin: 0;
  white-space: pre-wrap;
}

a {
  color: $color-grey-dark-2;
  text-decoration: underline;
  font-style: italic;
}

hr {
  color: $color-grey-dark;
}
