@import 'src/styles/variables.scss';

.home {
  height: $landing-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/books 1.png');
  background-size: cover;
  margin: -1rem;
}

.cta {
  @include evenlySpace(0.5);
  align-items: center;
  z-index: 100;
}
