@import 'src/styles/variables.scss';

.dashboard {
  max-width: $max-content-width;
  margin: 0 auto;
}

.login {
  text-align: center;
}

.stories {
  @include evenlySpace();

  & > * {
    margin: 0 !important;
  }

  em {
    display: none;
  }
}

.storiesHeader {
  display: flex;
  justify-content: space-between;
}

.hr {
  margin: 2rem 0;
}

.statusInfo {
  @include evenlySpace();
}

.stats {
  margin: 0;
}

.ctaText {
  text-align: center;
  font-size: 1.6rem;
}

.authorSubscription,
.paymentDetails,
.cardModal {
  @include evenlySpace();
  align-content: start;
}
