@import 'src/styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardElement {
  border: solid 0.1rem $color-grey;
  border-radius: 0.2rem;
  padding: 0.7rem 0.5rem;
}

.validation {
  color: $color-error;
}
