@import 'src/styles/variables.scss';

.story {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: $max-content-width;
  margin: 0 auto;
}

.tipModal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
