@import 'src/styles/variables.scss';

.storyActions {
  display: flex;
  justify-content: space-between;
}

.chapter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: $max-content-width;
  margin: 0 auto;
}

.prevNext {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}

.tipModal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media only screen and (min-width: 22rem) {
    flex-direction: row;
    justify-content: center;
  }
}
