@import 'src/styles/variables.scss';

.profile {
  max-width: $max-content-width;
  margin: 0 auto;
}

.actions {
  margin-top: 2rem;
  @include evenlySpace();
  justify-content: space-around;

  @media only screen and (min-width: 30rem) {
    @include evenlySpace(1rem, row);
    justify-content: stretch;
    & > * {
      flex: 1;
    }
  }
}

.hr {
  margin: 2rem 0;
}

.stories {
  & > * {
    margin: 2rem 0 !important;
  }
}

.tipModal {
  @include evenlySpace();
  text-align: center;
}
