@import 'src/styles/variables.scss';

.input {
  width: 100%;

  .label {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }

  .field,
  .textarea {
    padding: 0.5rem;
    width: 100%;
    color: $color-grey-dark;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;

    &.invalid {
      border: 0.2rem solid $color-error;
    }
  }

  .field {
    height: 3rem;
  }

  .textarea {
    height: 7rem;
    resize: vertical;
  }

  .checkbox {
    vertical-align: middle;
    height: 1.4rem;
    width: 1.4rem;
  }

  .validation {
    font-size: 1.4rem;
    color: $color-error;
    font-style: italic;
  }
}
