@import 'src/styles/variables.scss';

.feedback {
  max-width: $max-content-width;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.validation {
  color: $color-error;
}
