@import 'src/styles/variables.scss';

.register {
  @include evenlySpace();
  justify-content: space-around;
}

.title {
  margin: 0;
}

.link {
  text-align: center;
}

.validation {
  color: $color-error;
  text-align: center;
}
