.genres {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.genre {
  list-style-type: none;
  font-size: 2rem;
}

.ctaText {
  text-align: center;
  font-size: 1.6rem;
}
