@import 'src/styles/variables.scss';

.header {
  height: $header-height;
  background: linear-gradient(
    45deg,
    lighten($color-primary, 0%),
    darken($color-primary, 30%)
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0.3rem 0.9rem rgba($color-black, 0.4);
}

.content {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 auto;
}

.title {
  line-height: 1;
  margin: 0;
  font-size: 3.3rem;
  color: $color-white;
  font-weight: 400;
  background: none;
  -webkit-text-fill-color: unset;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subtitle {
  font-size: 1.4rem;
  display: block;
  font-weight: 300;
  color: $color-white;
  background: none;
}
