@import 'src/styles/variables.scss';

.header {
  height: $header-height;
  background-color: $color-white;
  // background: linear-gradient(
  //   45deg,
  //   lighten($color-primary, 0%),
  //   darken($color-primary, 30%)
  // );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0.5rem 1.8rem rgba($color-black, 0.2);
}

.content {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 auto;
}

.title {
  line-height: 1;
  margin: 0;
  font-size: 3.3rem;
  color: $color-primary;
  background: -webkit-linear-gradient(
    darken($color-primary, 30%),
    $color-primary,
    lighten($color-primary, 20%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subtitle {
  font-size: 1.4rem;
  display: block;
  font-weight: 300;
  color: $color-grey;
  background: none;
  -webkit-text-fill-color: $color-grey;
}
