@import 'src/styles/variables.scss';

.header {
  height: $header-height;
  // background: linear-gradient(
  //   45deg,
  //   lighten($color-primary, 0%),
  //   darken($color-primary, 30%)
  // );
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0.3rem 0.9rem rgba($color-black, 0.4);

  position: fixed;
  width: 100%;
  transition: 0.5s ease-in-out;
  z-index: 99;

  span,
  .title {
    transition: 0.5s ease-in-out;
  }

  &.mini {
    height: $header-height / 2;

    .title {
      margin-top: 2rem;
    }

    span {
      opacity: 0;
    }
  }
}

.content {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 auto;
}

.title {
  line-height: 1;
  margin: 0;
  font-size: 3.3rem;
  // color: $color-white;
  // background: none;
  // -webkit-text-fill-color: unset;
  background: linear-gradient(
    darken($color-primary, 20%),
    lighten($color-primary, 30%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subtitle {
  font-size: 1.4rem;
  display: block;
  font-weight: 300;
  background: none;
  color: $color-grey;
  -webkit-text-fill-color: $color-grey;
}
