@import 'src/styles/variables.scss';

.storyHeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  gap: 2rem;
}

.wrapper {
  @include evenlySpace();

  &:not(:last-of-type) {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid $color-grey;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
