@import 'src/styles/variables.scss';

.footer {
  height: $footer-height;
  background-color: $color-grey-light;
  @include evenlySpace(0.4rem);
  align-items: center;
  justify-content: center;
}

.comingSoon {
  color: $color-grey;
  font-style: italic;
}

.title {
  margin: 0;
  font-size: 2.3rem;
  font-weight: 300;
}

.copyright {
  color: $color-grey;
}

.links {
  padding: 0;
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
