@import 'src/styles/variables.scss';

.form {
  @include evenlySpace(0.5rem);
}

.cardElement {
  border: solid 0.1rem $color-grey;
  border-radius: 2rem;
  padding: 0.7rem 1rem;
  align-self: start;
}

.validation {
  color: $color-error;
}
