@import 'src/styles/variables.scss';

.home {
  height: $landing-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/books.jpg');
  background-size: cover;
  margin: -1rem;
}

.home::before {
  content: '';
  position: absolute;
  top: $header-height;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: $landing-height;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 10;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  z-index: 100;
}
