@import 'src/styles/variables.scss';

.form {
  @include evenlySpace();
  justify-content: space-between;
}

.validation {
  color: $color-error;
  text-align: center;
}

.saved {
  text-align: end;
  color: $color-primary;
}
