@import 'src/styles/variables.scss';

.chapters {
  @include evenlySpace();
  max-width: $max-content-width;
  margin: 0 auto;
}

.tipModal {
  @include evenlySpace();
  text-align: center;
}

.actions {
  @include evenlySpace();

  @media only screen and (min-width: 22rem) {
    flex-direction: row;
    justify-content: center;
  }
}
