@import 'src/styles/variables.scss';

.starScale {
  @include evenlySpace();
  align-items: center;
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  font-size: 3rem;

  &.small {
    font-size: 1.5rem;
    gap: 0.5rem;

    .crescent .star:not(.mask),
    .half .star:not(.mask),
    .gibbous .star:not(.mask) {
      color: #ccc;
      transform: translateY(-0.2rem);
    }
  }
}

.star {
  color: darkgoldenrod;
}

.hoverable {
  cursor: pointer;
}

.new {
  color: #ccc;
}

.crescent {
  position: relative;

  .star:not(.mask) {
    transform: translateY(-0.3rem);
    color: #ccc;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    color: darkgoldenrod;
    width: 30%;
    overflow: hidden;
  }
}

.half {
  position: relative;

  .star:not(.mask) {
    color: #ccc;
    transform: translateY(-0.3rem);
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    color: darkgoldenrod;
    width: 50%;
    overflow: hidden;
  }
}

.gibbous {
  position: relative;

  .star:not(.mask) {
    transform: translateY(-0.3rem);
    color: #ccc;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    color: darkgoldenrod;
    width: 70%;
    overflow: hidden;
  }
}
